body {
	background: #eee;
}

#menu {
    #menu-bar {
       text-align:center;
       margin: 20px 0px;

        #logo {
            height: 150px;
        }
    }

    .category {
        border-left: 2px solid lightgrey;
        border-right: 2px solid lightgrey;
        border-bottom: 2px solid lightgrey;
        margin-bottom: 30px;
        background-color: #CE2B37;

        .category-header {
            border-top: 2px solid lightgrey;
            border-bottom: 2px solid lightgrey;
            text-align: center;
            margin: 10px 0px;
            background-color: #009246;
            color: #FFFFFF;
        }
    }

    .products {
          display: flex;
          flex-wrap: wrap;

        .product-body {
          display: flex;
          flex-direction: column;
          justify-content: center;
          text-align: center;
          border: 2px solid lightgrey;
          border-radius: 10%;
          width: 200px;
          height: 200px;
          margin: 10px;
          text-align: center;
          font-size: 15px;
          background-color: #FFFFFF
        }

        .product-body:hover {
            border: 2px solid red;
        }

    }
}

#id_username, #id_password {
    width: 100%;
}