{% extends 'templates/base.html' %}

{% block content %}
<div class="container py-5">
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-6 mx-auto">
                    <div class="card rounded-0">
                        <div class="card-header">
                            <h3 class="mb-0">Login</h3>
                        </div>
                        <div class="card-body">
                            <form method="post" action="{% url 'login' %}">
                                {% csrf_token %}
                                <div class="form-group">
                                    {{ form.username.label_tag }}
                                    {{ form.username }}
                                </div>
                                <div class="form-group">
                                    {{ form.password.label_tag }}
                                    {{ form.password }}
                                </div>
                                <a href="{% url 'logout' %}">
                                    <div class="btn btn-primary btn-lg float-left" id="regbutton">Sign-up
                                    </div>
                                </a>
                                <button type="submit" class="btn btn-success btn-lg float-right" id="btnLogin">Login
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}


