{% extends 'templates/base.html' %}

{% load static %}

{% block title %} Pinocchio's Pizza & Subs - product.product_name {% endblock %}

{% block libraries %}
<script src="{% static 'js/product.js' %}"></script>
{% endblock %}

{% block content %}
<form method="post" action="{% url 'addtocart' %}">
    {% csrf_token %}
    <div id="menu" class="container">
        <div class="product-info">
            <div class="product-info-header">
                <h1> {{ product.product_name }}</h1>
                <h4> ${{ product.product_unit_price }} </h4>
            </div>
        </div>

        <input type="hidden" id="user" name="user" value="{{ request.user.id }}">
        <input type="hidden" data-price="{{ product.product_unit_price }}"  id="product_id" name="product_id" value="{{ product.id }}">
        <input type="hidden" id="option-num-min" name="option-num-min" value="{{ product.option_num_min }}">
        <input type="hidden" id="option-num-max" name="option-num-max" value="{{ product.option_num_max }}">
        <input type="hidden" id="order-total" name="order-total" value=0>
        <input type="hidden" id="per-unit-price" name="per-unit-price" value={{ product.product_unit_price }}>
        <input type="hidden" id="next" name="next" value="{{ request.path }}">

        {% if variations %}
        {% regroup variations by variation_category as variation_list %}
        {% for variation in variation_list %}
        <div>
            <div class="product-header">
                <h2> {{ variation.grouper }} </h2>
            </div>
            <div>
                <p class="warning"> Required: At least 1 option! </p>
                {% for variant in variation.list %}
                <div class="row">
                    <label for="size"> <input data-price="{{ variant.variation_unit_price }}" class="option-inputs" type="radio" name="size" value="{{ variant.id }}" required>
                        {{ variant.variation_name }} {% if variant.variation_unit_price %} -
                        ${{ variant.variation_unit_price }}+ {% endif %} </label>
                </div>
                {% endfor %}
            </div>
        </div>
        {% endfor %}
        {% endif %}

        {% if options %}
        <div>
            <div class="product-header">
                <h2> Toppings! </h2>
            </div>
            <div>
                {% if product.option_num_min == product.option_num_max and product.option_num_max != 0 %}
                    <p class="warning"> Required: {{ product.option_num_min }} options </p>
                {% elif product.option_num_min != 0 or product.option_num_max != 0 %}
                    <p class="warning"> Required: {{ product.option_num_min }} and {{ product.option_num_max }} options </p>
                {% endif %}
                {% for option in options %}
                <div>
                    <label for="options"><input class="option-inputs toppings" data-price="{{ option.option_unit_price }}" type="checkbox" name="options"
                                                value="{{ option.option_name }}"> {{ option.option_name }}
                        {% if option.option_unit_price %} - ${{ option.option_unit_price }}+ {% endif %} </label>
                </div>
                {% endfor %}
            </div>
        </div>
        {% endif %}
         <div id="add-to-cart-box" class="noHighlight">
            <span id="quantity-box">
                <label for="quantity"> Quantity: </label>
                <i id="big-plus" class="font-awesome fas fa-plus-square"></i>
                <input id="quantity" name="quantity" type="number" min="1" step="1" value="1"/>
                <i id="big-minus" class="font-awesome fas fa-minus-square"></i>
            </span>
             <span id="purchase-box">
                <span class="purchase" id="currency">$</span>
                 <span class="purchase" id="purchase-total">0.00</span>
                <input id="order-btn" class="btn-primary btn-lg" type="submit" value="order"/>
             </span>
        </div>
    </div>
</form>
{% endblock %}

